{% extends '@UnitedCMSCore/layout.html.twig' %}
{% block title %}{{ domain }}: Löschen{% endblock title %}
{% block navtitle %}{{ include('@UnitedCMSCore/Domain/_navtitle.html.twig') }}{% endblock %}
{% block navigation %}{{ include('@UnitedCMSCore/Domain/_navigation.domain.html.twig') }}{% endblock navigation %}
{% block content %}
    <h1>Delete Domain "{{ domain }}"</h1>
    {{ form(form) }}
{% endblock content %}